@model DemoApp1.Models.Profile.ProfileModel

@section AddToBody{
    <script asp-src-include="~/js/profile/viewprofile.js"></script>
    <script>
        $(document).ready(function(){
            window.DemoApp1.ProfileInfo.Initialize({userName: '@Model.UserName'});
        });    
    </script>
}

<div class="container">
    <div>
            <label>First Name: </label>
            <span>@Model.FirstName</span>
    </div>

    <div>
            <label>Last Name: </label>
            <span>@Model.LastName</span>
    </div>

    <div>
            <label>Username: </label>
            <span>@Model.UserName</span>
    </div>
</div>
